---
const { icon, title, desc } = Astro.props;
---

<div
  class="flex items-start gap-4 border border-transparent p-3 h-[113.46px] rounded-2xl hover:border-gray-300 transition-all duration-200 hover:bg-gray-100"
>
  <div
    class="w-14 h-14 bg-primary flex items-center justify-center rounded-2xl basis-14"
  >
    <img src={`/icons/${icon}.svg`} alt="" class="w-9 h-9 invert" />
  </div>
  <div class="basis-4/5">
    <span class="text-lg font-semibold">{title}</span>
    <p class="text-sm text-gray-500">{desc}</p>
  </div>
</div>
