---
import Container from "./Container.astro";
import { NavLinks } from "./NavLinks";
---

<nav>
  <Container>
    <div class="flex justify-between h-24 items-center">
      <a href="/" class="font-bold text-3xl">InvitArte</a>
      <NavLinks client:only />
    </div>
  </Container>
</nav>
