---
import Container from "./Container.astro";
import { NavLinks } from "./NavLinks";
---

<nav>
  <Container>
    <div class="relative flex items-center justify-between h-24">
      <a href="/" class="text-3xl font-bold">InvitArte</a>
      <NavLinks client:only />
    </div>
  </Container>
</nav>
