---
import Container from "./Container.astro";
---

<section class="mb-10">
  <Container>
    <div class="relative">
      <div
        style="background-image: url(/images/mission.svg);"
        class="w-[650px] h-[650px] mx-auto opacity-40 z-10"
      >
      </div>
      <h5
        class="text-center font-semibold text-6xl absolute z-30 top-1/2 left-0 right-0"
      >
        Anímate a hacer tu evento único <br /> antes de que comience
      </h5>
    </div>
  </Container>
</section>
