---
import SubTitle from "./SubTitle.astro";
import Container from "./Container.astro";
import { FormInput } from "./FormInput";
---

<section class="mt-20">
  <Container>
    <h1 class="font-semibold text-7xl text-center mb-24">Contáctanos</h1>
    <div class="flex justify-between text-lg gap-32 items-center 2xl:px-32">
      <div class="text-3xl font-semibold">
        <p class="mb-5">Correo Electronico:</p>
        <a
          href="#"
          class="mx-auto pb-2 relative w-fit text-center before:content-[''] before:h-1 before:w-40 before:bg-pink-500 before:absolute before:bottom-0 before:right-0 before:rounded"
        >
          invit.arte.contact@gmail.com
        </a>
      </div>
      <span class="text-lg">
        El equipo está abierto a sus ideas, preguntas y necesidades. <br /> Sus necesidades
        son problema nuestro 😉
      </span>
    </div>
    <form class="mt-20 2xl:px-32">
      <h4>Sus datos</h4>
      <div class="mb-8 flex gap-10">
        <FormInput client:load />
        <FormInput client:load />
      </div>
    </form>
  </Container>
</section>
