---
import { events } from "../data/events.js";
import Container from "./Container.astro";
import SubTitle from "./SubTitle.astro";
import CardEvent from "./CardEvent.astro";
import { LinkButton } from "./LinkButton";
---

<section class="mb-24 bg-black py-20">
  <Container>
    <SubTitle subtitle="Para cualquier ocasión." textColor="white" />
    <div class="grid grid-cols-3 gap-x-6 gap-y-8">
      {events.map((event) => <CardEvent {...event} />)}
    </div>
    <div class="text-center mt-16">
      <p class="text-white text-lg mb-7">
        Sabemos que existen muchos eventos <br />
        Si no lo encontraste aquí, tranqui
      </p>
      <LinkButton text="cuentanos tus ideas" href="/contact" />
    </div>
  </Container>
</section>
