---
import Container from "./Container.astro";
import SubTitle from "./SubTitle.astro";
import { Testimonials } from "./Testimonials";
---

<section class="mb-24">
  <Container>
    <SubTitle subtitle="Testimonios" />
    <div class="px-28">
      <Testimonials client:visible />
    </div>
  </Container>
</section>
