---
import Container from "./Container.astro";
import SubTitle from "./SubTitle.astro";
import CardContent from "./CardContent.astro";

import { invitationContent } from "../data/invitationContent";
---

<section class="mb-24" id="content">
  <Container>
    <SubTitle subtitle="Tu invitación podria tener" />
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      {invitationContent.map((content) => <CardContent {...content} />)}
    </div>
  </Container>
</section>
