---
interface Props {
  subtitle: string;
  textColor?: "black" | "white";
}

const { subtitle, textColor } = Astro.props;
---

<h3
  class=`mx-auto pb-2 relative w-fit text-4xl font-semibold text-center capitalize mb-14 before:content-[''] before:h-1 before:w-40 before:bg-pink-500 before:absolute before:bottom-0 before:right-0 before:rounded text-${textColor}`
>
  {subtitle}
</h3>
