<!-- https://dribbble.com/shots/19531745-UI-Kuya-Forgot-Password-App -->
<div class="mx-auto w-[480px] mt-12 p-5">
  <h2 class="font-bold text-3xl text-center mb-2">Bienvenido de nuevo!</h2>
  <p class="text-sm text-center text-gray-500">
    Continúa para seguir explorando
  </p>
  <img
    src="/images/plan1.svg"
    alt="Imagen de logueo"
    class="aspect-square w-28 mx-auto my-3"
  />
  <form class="mt-5">
    <div>
      <label for="" class="block mb-3 font-semibold"
        >Email o Número de teléfono</label
      >
      <div
        class="flex justify-between gap-x-3 py-3 px-4 border-2 border-primary bg-slate-50 rounded-xl items-center"
      >
        <img src="/icons/email.svg" alt="" class="w-5" />
        <input
          type="email"
          class="flex-1 outline-none font-medium text-lg bg-transparent"
          placeholder="ejemplo@correo.com"
        />
        <img src="/icons/check.svg" alt="" />
      </div>
    </div>
  </form>
</div>
